
body{ 
background-image: url(imagens/fd.jpg)  
}
.picture{
border-radius: 100px;
border: #333d29;
}
h1{
font-style: oblique;
text-align: center;
font-family: 'Tahoma';
} 
h3 {
font-size: 16px;
}
h2{
text-align: center;
font-style: oblique;
font-family: 'Tahoma';
font-size: 28px;
}
h4{
text-align: center;
visibility: visible;
}
p{
font-weight: bold;
font-size: 18px;
}   
#header{
background-image: url();
background-size: contain;  
text-align: center; 
}
#al{
text-align: center;
}
#ps {
text-align: right;
visibility: visible;
}
#pa { 
text-align: center;
}
#text {
width: 80%;
/*margin auto coloca o elemento centralizado*/
margin: auto;
}
#my {
text-align:center ;
margin-top: 10%;
margin-bottom: 80px;
}
.my p{
padding: 15px;
}
 /* aplica todos os p decendentes de .my*/
#infos {
width:30%;
display: inline-block;
text-align: center;
margin-right: 20px;
}
#links {
text-align: end;
}